body {
    padding-top: 60px;
    padding-bottom: 15px;
    background-color: white;
    font-size: 12px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 18pt;
}

label {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.btn-primary {
    background-color: #6e6e6e;
    border: none;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    padding: 6px 20px;
}

.btn-primary:hover {
    background-color: #5b5b5d;
    transition-duration: 0.3s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(19, 19, 19, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-filter {
    background-color: #6e6e6e;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 15px;
    border: 1px solid white;
}

.btn-filter:hover {
    background-color: #5b5b5d;
    transition-duration: 0.3s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(19, 19, 19, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-table {
    background-color: #737373;
    border: none;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 3px;
    padding: 3px 10px;
}

.btn-table:hover {
    background-color: #808080;
    transition-duration: 0.3s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-card {
    background-color: #353a40;
    border: 1px solid white;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 3px;
    padding: 4px 18px;
}

.btn-card:hover {
    background-color: #7d7e7d;
    transition-duration: 0.3s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(5, 5, 5, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td {
    text-align: center;
    padding: 8px;
    border: 1px solid #fff;
}

tr:nth-child(even) {
    background-color: #ebffff;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #d2fcfc;
}

th {
    background-color: #acacac;
    padding: 8px;
    color: white;
    text-align: center;
    font-size: 11px;
    border: 1px solid #fff;
    border-bottom: 1px solid #5a5a5a;
}

#table-action-field {
    width: 90px;
    text-align: center;
}

#download {
    color: black;
}

.form-control {
    font-size: 12px;
    background-clip: padding-box;
    height: 30px;
}

.datetimepicker-input {
    font-size: 12px;
    background-clip: padding-box;
    height: 30px;
    width: 220px;
    display: inline;
}

.navbar-expand-lg {
    box-shadow: 0 2px 4px 0 rgba(36, 36, 173, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid #b7b6b6;
}

.navbar {
    padding: 0;
}

.dropdown-menu {
    background-color: #353a40;
    box-shadow: 0 2px 4px 0 rgba(36, 36, 173, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 12px;
    border-bottom: 1px solid #6b6b6a;
}

.dropdown-item {
    color: #6e6e6e
}

.page-link {
    padding: 6px 12px;
    color: black;
}

.page-link:hover {
    transition-duration: 0.3s;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(184, 184, 184, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgb(179, 179, 179);
    border-color: rgb(121, 121, 121);
}

.card {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 40%;
    padding: 10px;
    background: rgba(53, 58, 64, 0.01);
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.rounded-circle {
    vertical-align: bottom;
}

.form-inline {
    display: inline;
    margin: 0;
    vertical-align: middle;
}

.pagination {
    margin: 3px;
    border-radius: 4px;
}

#rates-download {
    margin-top: 7px;
    margin-bottom: 7px;
}

.latest-rates-delta-up {
    color: red;
    border-radius: 5px;
    font-style: italic;
    font-size: 10px;
}

.latest-rates-delta-down {
    color: green;
    border-radius: 5px;
    font-style: italic;
    font-size: 10px;
}
