body {
    padding-top: 60px;
    background-color: #ebffff;
    font-size: 12px;
}

h1  {
    color: black;
    font-family: 'Teko';
    text-align: center;
    font-size: 18pt;
}

label {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: orange;
}

.btn-primary {
    background-color: #353a40;
    border: none;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    padding: 6px 20px;
}

.btn-primary:hover {
    background-color: blue;
    transition-duration: 0.3s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(36,36,173,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ebffff;
}

tr:nth-child(even){
    background-color: #ebffff
}

.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #d2fcfc;
}

th {
    background-color: #353a40;
    padding: 8px;
    color: white;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 2px 4px 0 rgba(36,36,173,0.5), 0 6px 10px 0 rgba(0,0,0,0.19);
    border-bottom: 1px solid orange;
}

.form-control {  /* filter */
   font-size: 12px;
   background-clip: padding-box;
}


.navbar-expand-lg  {
    box-shadow: 0 2px 4px 0 rgba(36,36,173,0.5), 0 2px 4px 0 rgba(0,0,0,0.19);
    border-bottom: 1px solid orange;
}

.dropdown-menu {
    background-color: #353a40;
    box-shadow: 0 2px 4px 0 rgba(36,36,173,0.5), 0 6px 10px 0 rgba(0,0,0,0.19);
    font-size: 12px;
    border-bottom: 1px solid orange;
}

.dropdown-item {
     color: orange
}

.page-link {
    padding: 4px;
    color: black;
    border-bottom: 1px solid orange;
}

.page-link:hover {
    background-color: orange;
    transition-duration: 0.3s;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(36,36,173,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
}

.page-item.active .page-link{
    z-index:3;
    color:#fff;
    background-color: rgb(53, 58, 64,0.8);
    border-bottom: 1px solid orange;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 17px;
  border-top: 1px solid orange;
  background-color: #353a40;
  box-shadow: 0px 0px 2px 4px rgba(36,36,173,0.2), 0px 12px 2px 4px rgba(0,0,0,0.19);
  color: white;
  text-align: center;
}

