{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% crispy form form.helper 'bootstrap' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<h1>Login</h1>
<div class="card">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy:"bootstrap" }}
        <br>
        <button class="btn btn-card" type="submit">Send</button>
    </form>
    <a class="nav-item nav-link" href="{% url 'password_reset' %}">Forgot your password?</a>
</div>

{% endblock content %}
