{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <h2>Reset your password</h2>
        <p>We've sent email with instructions for setting your new password, if an account exists with the email you entered.
            You should receive it shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.</p>
        <a href="{% url 'index' %}"><button class="btn btn-card"> Back to homepage </button></a>
    </div>
</div>

{% endblock %}