{% load active_tab %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ request.path|active:'index' }}">
                    <a class="nav-link" href="{% url 'index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="dropdown {{ request.path|active:'rate:list' }}">
                    <a class="nav-link" href="{% url 'rate:list' %}" data-toggle="dropdown">Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" >
                        <li class="nav-item"><a href="#">Rates</a></li>
                        <li class="divider"></li>
                        <li class="nav-item {{ request.path|active:'rate:rate-latest' }}"><a
                                href="{% url 'rate:rate-latest' %}">Rates Latest</a></li>
                        <li class="divider"></li>
                        <li class="nav-item"><a href="#">Rates Charts</a></li>
                        <li class="divider"></li>
                        <li class="nav-item"><a href="{% url 'rate:api' %}">API</a></li>
                    </ul>
                </li>
                <li class="nav-item {{ request.path|active:'rate:list' }}">
                    <a class="nav-link" href="{% url 'rate:list' %}">Rates info</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
