<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&{{ query_params }}">&laquo; first</a></li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}&{{ query_params }}">previous</a>
                </li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="?">Page {{ page_obj.number }} of
                    {{page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ query_params }}">next</a>
                </li>
                <li class="page-item">
                    <a class="page-item"
                       href="?page={{ page_obj.paginator.num_pages }}{% if query_params %}&{{ query_params }}{% endif %}">last
                        &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
    <div class="col-md-6">
            <form class="form-inline" method="get">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <input class="page-link" placeholder="page #" type="number" name="page" min="1"
                               max="{{page_obj.paginator.num_pages }}"/>
                    </li>
                        <input type="hidden" name="{% if query_params %}&{{ query_params }}{% endif %}"/>
                    <li class="page-item">
                        <input class="page-link" type="submit" value="Go"/>
                    </li>
                </ul>
            </form>
        </div>
</div>
