{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% crispy form form.helper 'bootstrap' %}

{% block title %}
    Rates List
{% endblock title %}

{% block content %}

<form method="get" class="uniForm">
    <div class="form-row">
        <div class="form-group col-md-2 mb-2">
            {{ filter.form.ordering|as_crispy_field:"bootstrap" }}
        </div>
        <div class="form-group  col-md-5 mb-2">
            {{ filter.form.created|as_crispy_field:"bootstrap" }}
        </div>
        <div class="form-group col-md-2 mb-2">
            {{ filter.form.source|as_crispy_field:"bootstrap" }}
        </div>
        <div class="form-group col-md-2 mb-2">
            {{ filter.form.currency|as_crispy_field:"bootstrap" }}
        </div>
        <div class="form-group col-md-1 mb-2">
            &ensp;&ensp;&ensp;
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

{% if request.user.is_authenticated %}
<div id="rates-download">
    <i>Download Rates:</i>
    <a href="{% url 'rate:download-csv' %}">csv</a>
    <a href="{% url 'rate:download-xlsx' %}">xlsx</a>
    <a href="{% url 'rate:download-json' %}">json</a>
</div>
{% endif %}
<div class="row">
    <div class="col">
        <table class="table table-sm table-striped">
            <tr>
                <th>#</th>
                {% if request.user.is_superuser %}
                <th>ID</th>
                {% endif %}
                <th>Updated</th>
                <th>Source</th>
                <th>Currency</th>
                <th>Buy</th>
                <th>Sale</th>
                {% if request.user.is_superuser %}
                <th>Action</th>
                {% endif %}
            </tr>
                {% for rate in object_list %}
                <tr>
                <td>{{ forloop.counter }}</td>
                {% if request.user.is_superuser %}
                <td>{{ rate.id }} </td>
                {% endif %}
                <td>{{ rate.created }}</td>
                <td>{{ rate.get_source_display }}</td>
                <td>{{ rate.get_currency_display }}</td>
                <td>{{ rate.buy }}</td>
                <td>{{ rate.sale }}</td>
                {% if request.user.is_superuser %}
                <td id="table-action-field">
                    <a href="{% url 'rate:edit' pk=rate.id %}"><button class="btn btn-table"> edit </button></a>
                    <a href="{% url 'rate:remove' pk=rate.id %}"><button class="btn btn-table"> delete </button></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% include 'snippets/pagination.html' %}
    </div>
    <div class="col">
        <canvas id="myChart" width="400" height="500"></canvas>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock extra_js %}
