{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load subtract_tab %}

{% block title %} Latest rates {% endblock title %}

{% block content %}

<div class="row">
    <div class="col">
        <table class="table table-sm table-striped">
            <tr>
                <th>#</th>
                <th>Updated</th>
                <th>Source</th>
                <th>Currency</th>
                <th>Buy</th>
                <th>Sale</th>
            </tr>
            {% for latest, prior in rates %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ latest.created }}</td>
                <td>{{ latest.get_source_display }}</td>
                <td>{{ latest.get_currency_display }}</td>
                {% if latest.buy|subtract:prior.buy > 0 %}
                <td>{{ latest.buy }} <sup class="latest-rates-delta-up"> +{{ latest.buy|subtract:prior.buy }} </sup></td>
                {% elif latest.buy|subtract:prior.buy < 0 %}
                <td>{{ latest.buy }} <sub class="latest-rates-delta-down"> {{ latest.buy|subtract:prior.buy }} </sub></td>
                {% elif latest.buy|subtract:prior.buy == 0 %}
                <td class="latest-rates-delta-0">{{ latest.buy }}</td>
                {% endif %}
                {% if latest.sale|subtract:prior.sale > 0 %}
                <td>{{ latest.sale }} <sup class="latest-rates-delta-up"> +{{ latest.sale|subtract:prior.sale }} </sup> </td>
                {% elif latest.sale|subtract:prior.sale < 0 %}
                <td>{{ latest.sale }} <sub class="latest-rates-delta-down"> {{ latest.sale|subtract:prior.sale }} </sub></td>
                {% elif latest.sale|subtract:prior.sale == 0 %}
                <td class="latest-rates-delta-0">{{ latest.sale }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col">
        <canvas id="myChart" width="400" height="500"></canvas>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    let charts_data = {{ charts_data|safe }}
</script>
<script src="{% static 'js/charts-latest.js' %}"></script>
{% endblock extra_js %}
